<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div *ngIf="!online" class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form [ngFormModel]="loginForm" (ngSubmit)="login(loginForm)">
                <input ngControl="username" type="text" name="user" placeholder="Username">
                <input ngControl="password" type="password" name="pass" placeholder="Password">


                <input data-toggle="modal" data-target="#login-modal" type="submit" name="login"
                       class="login loginmodal-submit" value="Login" [disabled]="!loginForm.valid">
                <input data-toggle="modal" data-target="#login-modal" type="submit" (click)="register(loginForm)"
                       name="login"
                       class="login loginmodal-submit" value="Register" [disabled]="!loginForm.valid">


                <i style="cursor: pointer" class="fa fa-google fa-3x fa-fw" onclick="hello('google').login(null,{'response_type':'code'})"
                   data-toggle="modal" data-target="#login-modal"></i>
                <i style="cursor: pointer" class="fa fa-facebook fa-3x fa-fw" onclick="hello('facebook').login(null,{'response_type':'code'})"
                   data-toggle="modal" data-target="#login-modal"></i>
                <i style="cursor: default;color: lightgray" class="fa fa-github fa-3x fa-fw" data-toggle="modal"
                   data-target="#login-modal"></i>
                <i style="cursor: default;color: lightgray" class="fa fa-twitter fa-3x fa-fw" data-toggle="modal"
                   data-target="#login-modal"></i>
                <i style="cursor: default;color: lightgray" class="fa fa-linkedin fa-3x fa-fw" data-toggle="modal"
                   data-target="#login-modal"></i>

            </form>
        </div>
    </div>
</div>